# Ignore node_modules directory
node_modules/

# Optional: Ignore the .env file if it contains sensitive information
.env

# Optional: Ignore npm log files
npm-debug.log
yarn-debug.log
yarn-error.log

# Optional: Ignore IDE or editor specific files
.DS_Store
.idea/
.vscode/