.order-history-overlay {
}

.order-history-modal {
  background-color: white;
  border-radius: 8px;
  width: 80%;
  max-width: 800px;
  max-height: 80vh;
  overflow-y: auto;
  padding: 20px;
}

.order-history-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.close-button {
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
}

.order-item {
  border: 1px solid #ddd;
  border-radius: 4px;
  margin-bottom: 15px;
  padding: 15px;
}

.order-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  font-weight: bold;
}

.order-details {
  margin-bottom: 10px;
}

.product-item {
  width: 18rem;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #eee;
} 